In [42]:
import zipfile as zf
import pandas as pd
import urlparse

In [45]:
archive = zf.ZipFile('ml-100k.zip')
users_data = pd.read_csv(archive.open('ml-100k/u.user'), sep='|', header=None, names=('user_id', 'age', 'gender', 'occupation', 'zip_code'))
survey_data = pd.read_csv(archive.open('ml-100k/u.data'), sep='\t', header=None, names=('user_id', 'item_id', 'rating', 'timestamp'))
movies_data = pd.read_csv(
    archive.open('ml-100k/u.item'),
    sep='|', 
    header=None, 
    usecols=[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18,19,20,21,22,23],
    names=('movie id', 'movie title', 'release date', 'IMDb URL','unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi','Thriller', 'War', 'Western'), 
    parse_dates=[2]
    )

In [21]:
users_data['occupation'].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'], dtype=object)

In [45]:
users_data[users_data['occupation']=='scientist']['user_id']

13      14
39      40
70      71
73      74
106    107
174    175
175    176
182    183
194    195
231    232
271    272
308    309
336    337
352    353
429    430
482    483
537    538
542    543
548    549
553    554
615    616
625    626
642    643
729    730
762    763
866    867
873    874
887    888
917    918
928    929
929    930
Name: user_id, dtype: int64

In [28]:
users_data.columns

Index([u'user_id', u'age', u'gender', u'occupation', u'zip_code'], dtype='object')

In [48]:
df=pd.merge(survey_data, users_data, on='user_id')

In [49]:
df.head()

,user_id,item_id,rating,timestamp,age,gender,occupation,zip_code
0,196,242,3,881250949,49,M,writer,55105
1,196,393,4,881251863,49,M,writer,55105
2,196,381,4,881251728,49,M,writer,55105
3,196,251,3,881251274,49,M,writer,55105
4,196,655,5,881251793,49,M,writer,55105

In [84]:
most_frequent_sci = df[df['occupation']=='writer']['item_id'].value_counts()

In [85]:
most_frequent_sci

288     27
100     27
50      27
286     25
181     25
294     25
258     24
98      23
174     22
302     22
127     22
300     21
313     20
423     18
7       18
257     18
204     18
328     18
176     18
234     17
269     17
603     17
79      17
443     17
172     17
173     17
183     17
475     17
151     17
121     17
        ..
362      1
374      1
390      1
1237     1
1221     1
777      1
973      1
797      1
805      1
817      1
837      1
841      1
861      1
869      1
905      1
929      1
953      1
981      1
1209     1
1081     1
1093     1
1105     1
1113     1
1133     1
1137     1
1149     1
1153     1
1169     1
1181     1
1517     1
Name: item_id, dtype: int64

In [67]:
most_frequent_sci[50]

19

In [86]:
most_freq_movie = movies_data[movies_data['movie id']==most_frequent_sci[288]]

In [87]:
most_freq_movie

,movie id,movie title,release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
26,27,Bad Boys (1995),1995-01-01,http://us.imdb.com/M/title-exact?Bad%20Boys%20...,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0