In [4]:
import zipfile as zf
import pandas as pd
import urlparse

In [5]:
archive = zf.ZipFile('../../datasets/movie_lens/ml-100k.zip')
users_data = pd.read_csv(archive.open('ml-100k/u.user'), sep='|', header=None, names=('user_id', 'age', 'gender', 'occupation', 'zip_code'))
survey_data = pd.read_csv(archive.open('ml-100k/u.data'), sep='\t', header=None, names=('user_id', 'item_id', 'rating', 'timestamp'))
movies_data = pd.read_csv(
    archive.open('ml-100k/u.item'),
    sep='|', 
    header=None, 
    usecols=[0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18,19,20,21,22,23],
    names=('movie id', 'movie title', 'release date', 'IMDb URL','unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi','Thriller', 'War', 'Western'), 
    parse_dates=[2]
    )

In [ ]:
ar = zf.ZipFile('../../datasets/binding_to_thrombin/Thrombin.testset.zip')
data = pd.read_csv(ar.open('Thrombin.testset'))

In [ ]:
data.head()

In [5]:
users_data['occupation'].unique()

array(['technician', 'other', 'writer', 'executive', 'administrator',
       'student', 'lawyer', 'educator', 'scientist', 'entertainment',
       'programmer', 'librarian', 'homemaker', 'artist', 'engineer',
       'marketing', 'none', 'healthcare', 'retired', 'salesman', 'doctor'], dtype=object)

In [6]:
users_data[users_data['occupation']=='scientist']['user_id']

13      14
39      40
70      71
73      74
106    107
174    175
175    176
182    183
194    195
231    232
271    272
308    309
336    337
352    353
429    430
482    483
537    538
542    543
548    549
553    554
615    616
625    626
642    643
729    730
762    763
866    867
873    874
887    888
917    918
928    929
929    930
Name: user_id, dtype: int64

In [26]:
movies_data.columns

Index([u'movie id', u'movie title', u'release date', u'IMDb URL', u'unknown',
       u'Action', u'Adventure', u'Animation', u'Children's', u'Comedy',
       u'Crime', u'Documentary', u'Drama', u'Fantasy', u'Film-Noir', u'Horror',
       u'Musical', u'Mystery', u'Romance', u'Sci-Fi', u'Thriller', u'War',
       u'Western'],
      dtype='object')

In [6]:
df=pd.merge(survey_data, users_data, on='user_id')

In [8]:
df.head()

   user_id  item_id  rating  timestamp  age gender occupation zip_code
0      196      242       3  881250949   49      M     writer    55105
1      196      393       4  881251863   49      M     writer    55105
2      196      381       4  881251728   49      M     writer    55105
3      196      251       3  881251274   49      M     writer    55105
4      196      655       5  881251793   49      M     writer    55105

In [7]:
movies_data.rename(columns={'movie id':'item_id'}, inplace=True)
df_total = pd.merge(df, movies_data, on='item_id')

In [33]:
df_total.head()

,user_id,item_id,rating,timestamp,age,gender,occupation,zip_code,movie title,release date,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,49,M,writer,55105,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
1,305,242,5,886307828,23,M,programmer,94086,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
2,6,242,4,883268170,42,M,executive,98101,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
3,234,242,4,891033261,60,M,retired,94702,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0
4,63,242,3,875747190,31,M,marketing,75240,Kolya (1996),1997-01-24,...,0,0,0,0,0,0,0,0,0,0

In [8]:
most_frequent_sci = df_total[df_total['occupation']=='scientist']['item_id'].value_counts(normalize=False)

In [10]:
most_frequent_ids = most_frequent_sci.head().index
most_frequent_ids

Int64Index([50, 100, 258, 286, 181], dtype='int64')

In [13]:
most_freq_movie = movies_data[movies_data['item_id'].isin(most_frequent_ids)]

In [14]:
most_freq_movie.head()

,item_id,movie title,release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
49,50,Star Wars (1977),1977-01-01,http://us.imdb.com/M/title-exact?Star%20Wars%2...,0,1,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
99,100,Fargo (1996),1997-02-14,http://us.imdb.com/M/title-exact?Fargo%20(1996),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
180,181,Return of the Jedi (1983),1997-03-14,http://us.imdb.com/M/title-exact?Return%20of%2...,0,1,1,0,0,0,...,0,0,0,0,0,1,1,0,1,0
257,258,Contact (1997),1997-07-11,http://us.imdb.com/Title?Contact+(1997/I),0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
285,286,"English Patient, The (1996)",1996-11-15,http://us.imdb.com/M/title-exact?English%20Pat...,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0